<template>
  <div class="products">
    <product-box v-for="product in products" :key="product.id" :product="product"/>
  </div>
</template>

<script lang="ts">
import {computed, defineComponent} from '@vue/composition-api'

export default defineComponent({
  name: 'products',
  setup(_, {root}) {
    const store = root.$store

    return {
      products: computed(() => store.state.products),
    }
  }
})
</script>
<style scoped>
  .products {
    display: flex;
    flex-wrap: wrap;
  }
</style>
