<template>
  <nuxt-link :to="{name: 'product-productId', params: {productId: product.id}}">
    <div class="product">
      <div class="image">
        <img :src="product.image ? product.image.medium : '/video.jpeg'" />
      </div>
      {{ product.name }}
    </div>
  </nuxt-link>
</template>

<script>
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "product-box",
  props: {
    product: Object,
  },
});
</script>
<style scoped>
.product {
  height: 320px;
  width: 210px;
  margin: 10px;
}

.image {
  height: 295px;
  width: 210px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 20px #666;
}

img {
  height: 100%;
  width: 100%;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: black;
}
</style>
