<template>
  <form method="get" action="/search">
    <input type="text" name="q" ref="el" :value="$route.query.q" placeholder="Search products">
  </form>
</template>
<script>
import { defineComponent, onMounted, ref } from '@vue/composition-api';

export default defineComponent({
  setup() {
    const el = ref();

    onMounted(() => el.value.focus());

    return {
      el
    }
  }
})
</script>
<style scoped>
form {
  width: 100%;
  padding: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}
</style>
