<template>
  <div class="container">
    <div>
      <Products />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import {computed} from '@vue/composition-api';


export default Vue.extend({
  middleware: 'fetch-products',
});</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
